@keyframes pulse {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes waveBackground {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.card-sismo {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #f9fafb, #ffffff);
    background-size: 200% 200%;
    animation: waveBackground 10s ease infinite;
    border: 10px solid #1b5ec2;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    gap: 10px;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.card-header h2 {
    margin: 0 0 20px 0;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.sismo-table-container {

    padding: 1rem;
    background-color: #f9fafb;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    max-width: 100%;
}

.sismo-table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.sismo-table th,
.sismo-table td {
    padding: 0.75rem;
    border: 1px solid #e5e7eb;
    text-align: center;
}

.sismo-table thead {
    background-color: #4f46e5;
    color: white;
}

.sismo-table tbody tr:nth-child(even) {
    background-color: #f3f4f6;
}

.sismo-table tbody tr:hover {
    background-color: #e0e7ff;
}

.card-header h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

.card-header p {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .card-sismo {
        width: 100%;
        margin: 0 auto 20px auto;
        padding: 15px;
        border: 0px;
        border-radius: 0px;
    }

    .card-body {
        flex-direction: column;
        gap: 15px;
    }

    .card-header h2 {
        font-size: 20px;
    }

    .sismo-table {
        font-size: 0.7rem;
    }

    .sismo-table th,
    .sismo-table td {
        padding: 0.5rem;
    }

    .card-header h2 {
        font-size: 20px;
    }

    .card-header p {
        font-size: 14px;
    }
}