body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #a5d6a7;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #a5d6a7;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar {
    background-color: #a5d6a7;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 95%;
    flex-wrap: wrap;
}

.navbar h2 {
    margin: 0 20 px 0 0;
    font-size: 1.5em;
}

.navbar .nav-links {
    display: flex;
    gap: 15px;

}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.navbar .nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 12px 15px;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

td {
    padding: 12px 15px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d32f2f;
}

@media (max-width: 768px) {
    table {
        font-size: 12px;
    }

    th,
    td {
        padding: 10px;
    }

    button {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    canvas {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }

    canvas {
        width: 100%;
        height: 250px;
    }

    form {
        display: block;
        width: 100%;
    }

    .filtro-container label,
    .filtro-container select,
    .filtro-container input {
        width: 100%;
        margin-bottom: 10px;
    }

    #filtrarBtn {
        width: 100%;
    }
}