body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

footer {
    background: #0351a0;
    text-align: center;
    font-size: 0.7em;
    color: #fcf8f8;
    padding: 1px 0 1px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
}

.logo img {
    width: 30px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.nav-links li a:hover {
    background-color: #86dafc;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li a {
        padding: 12px;
    }

    .menu-icon {
        display: none;
    }

    .titulo {
        margin: 0 auto;
    }

    .resumo-dashboard {
        padding: 15px;
        margin: 10px;
        max-width: 100%;
        border-radius: 10px;
        box-shadow: none;
    }

}